
/** CONTENTS - Mega drop down styling
---------------------------------------- 

	- Page setup
	- Plugin styles
	- Visual styling


*/


/**** Page setup ****/
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
}
header { 
	background: #fff url(../img/bg-header.gif) left bottom repeat-x;
}

nav { 
	margin:0 auto;
	width:960px;
}

a, a:visited {
	color:#1E7EAE;
	text-decoration: none;
}

/**** Plugin styles ****/
.looseMegaDropDown > li {
	position: relative;
}

	/** Active state appied through js **/
	.looseMegaDropDown a.jsActive {	}

	/** internal mega menu styling**/
	.looseMegaMenu {
		display:none;
		left:0;
		margin:0;
		position: absolute;
		top:100%;
		z-index:1000;
	}

	.menuRightClass .looseMegaMenu {
		left:auto;
		right:0;
	}

	.no-js .looseMegaMenu {
		display:block;
		margin-top:3px;
		position: relative;
	}
		
/**** visual styling ****/
#primaryNav { 
	display: inline; /* was inline-table */
	float:left;
	font-size:25px;
	margin-right:5px;
	vertical-align:middle;
	width:673px;
}
	#primaryNav > li {
		display: inline;
		float:left;
		margin:0 0 0 5px;
	}
		#primaryNav > li > a {
			color: ##1E7EAE;
			display: table-cell;
			height: 80px;
			min-width:80px;
			max-width: 145px;
			overflow: hidden;
			padding: 0 7px;
			text-align: center;
			vertical-align: middle;
		}
		.ie7 #primaryNav > li > a {
			display:inline-block;
			line-height: 1.2em;
		}
		#primaryNav > li > a.current {
			color:#093888;
		}
		#primaryNav > li > a.jsActive {
			color:#093888;
		}
		#primaryNav > li > a:hover,
		#primaryNav > li > a:focus,
		#primaryNav > li > a:active {
			color:#093888;
			text-decoration:none;
		}

		/** internal mega menu styling**/
		.looseMegaMenu {
			font-size:12px;
			padding-top: 5px 0 0;
			text-align:left;
			min-width:100px;

			-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0, 0.23);
			-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0, 0.23);
			box-shadow: 0 0 6px 0px rgba(0,0,0, 0.23);
		}
			.looseMegaMenu > ul {
				display: inline-block;
			}
			.looseMegaMenu a {
				display:block;
				padding:4px 15px;
			}